Buiseness Logic/Service References/LaunchServices/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63637/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63637/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63637/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AgregarCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ClienteActivo_InputMessage">
    <wsdl:part name="parameters" element="tns:ClienteActivo" />
  </wsdl:message>
  <wsdl:message name="IService_ClienteActivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClienteActivoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarMembership_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarMembership" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarMembership_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarMembershipResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarAppPurchased_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarAppPurchased" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarAppPurchased_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarAppPurchasedResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarDeveloper_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDeveloper" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarDeveloper_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDeveloperResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarDeveloper_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDeveloper" />
  </wsdl:message>
  <wsdl:message name="IService_ActualizarDeveloper_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarDeveloperResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DesarrolladorActivo_InputMessage">
    <wsdl:part name="parameters" element="tns:DesarrolladorActivo" />
  </wsdl:message>
  <wsdl:message name="IService_DesarrolladorActivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesarrolladorActivoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarApp_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarApp" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarAppResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerAppsDeveloper_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAppsDeveloper" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerAppsDeveloper_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAppsDeveloperResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerImagenApp_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerImagenApp" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerImagenApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerImagenAppResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerAppsSuscripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAppsSuscripcion" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerAppsSuscripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAppsSuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerAppsRecientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAppsRecientes" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerAppsRecientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAppsRecientesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerAppsComprados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAppsComprados" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerAppsComprados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAppsCompradosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerAppInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAppInfo" />
  </wsdl:message>
  <wsdl:message name="IService_ObtenerAppInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAppInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AgregarCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarCustomer" message="tns:IService_AgregarCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarCustomerResponse" message="tns:IService_AgregarCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClienteActivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ClienteActivo" message="tns:IService_ClienteActivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ClienteActivoResponse" message="tns:IService_ClienteActivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ActualizarCustomer" message="tns:IService_ActualizarCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ActualizarCustomerResponse" message="tns:IService_ActualizarCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarMembership">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarMembership" message="tns:IService_AgregarMembership_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarMembershipResponse" message="tns:IService_AgregarMembership_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarAppPurchased">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarAppPurchased" message="tns:IService_AgregarAppPurchased_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarAppPurchasedResponse" message="tns:IService_AgregarAppPurchased_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarDeveloper">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarDeveloper" message="tns:IService_AgregarDeveloper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarDeveloperResponse" message="tns:IService_AgregarDeveloper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDeveloper">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ActualizarDeveloper" message="tns:IService_ActualizarDeveloper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ActualizarDeveloperResponse" message="tns:IService_ActualizarDeveloper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DesarrolladorActivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DesarrolladorActivo" message="tns:IService_DesarrolladorActivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DesarrolladorActivoResponse" message="tns:IService_DesarrolladorActivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarApp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarApp" message="tns:IService_AgregarApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarAppResponse" message="tns:IService_AgregarApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAppsDeveloper">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ObtenerAppsDeveloper" message="tns:IService_ObtenerAppsDeveloper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ObtenerAppsDeveloperResponse" message="tns:IService_ObtenerAppsDeveloper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerImagenApp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ObtenerImagenApp" message="tns:IService_ObtenerImagenApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ObtenerImagenAppResponse" message="tns:IService_ObtenerImagenApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAppsSuscripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ObtenerAppsSuscripcion" message="tns:IService_ObtenerAppsSuscripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ObtenerAppsSuscripcionResponse" message="tns:IService_ObtenerAppsSuscripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAppsRecientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ObtenerAppsRecientes" message="tns:IService_ObtenerAppsRecientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ObtenerAppsRecientesResponse" message="tns:IService_ObtenerAppsRecientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAppsComprados">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ObtenerAppsComprados" message="tns:IService_ObtenerAppsComprados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ObtenerAppsCompradosResponse" message="tns:IService_ObtenerAppsComprados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAppInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ObtenerAppInfo" message="tns:IService_ObtenerAppInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ObtenerAppInfoResponse" message="tns:IService_ObtenerAppInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarCustomer">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClienteActivo">
      <soap:operation soapAction="http://tempuri.org/IService/ClienteActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCustomer">
      <soap:operation soapAction="http://tempuri.org/IService/ActualizarCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarMembership">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarMembership" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarAppPurchased">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarAppPurchased" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarDeveloper">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarDeveloper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDeveloper">
      <soap:operation soapAction="http://tempuri.org/IService/ActualizarDeveloper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesarrolladorActivo">
      <soap:operation soapAction="http://tempuri.org/IService/DesarrolladorActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarApp">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAppsDeveloper">
      <soap:operation soapAction="http://tempuri.org/IService/ObtenerAppsDeveloper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerImagenApp">
      <soap:operation soapAction="http://tempuri.org/IService/ObtenerImagenApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAppsSuscripcion">
      <soap:operation soapAction="http://tempuri.org/IService/ObtenerAppsSuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAppsRecientes">
      <soap:operation soapAction="http://tempuri.org/IService/ObtenerAppsRecientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAppsComprados">
      <soap:operation soapAction="http://tempuri.org/IService/ObtenerAppsComprados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAppInfo">
      <soap:operation soapAction="http://tempuri.org/IService/ObtenerAppInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:63637/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>